body
{
 background: url(login.jpg);
 background-size:cover;
}

.search-box
{
  background: rgba(0,0,0,0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  height:350px;
  width: 550px;
  transform: translate(-20%, -50%);
  border-radius: 20px;
  padding: 20px 30px 50px 30px;
}
.line
{
  width: 300px;
  text-align:center;
  color: black !important;
  border: solid 2px black !important;
  height : 1px !important;
}
.search-box p
{
  font-size: 25px;
  color: white;
}
.navbar-brand
{
  font-family: 'Lato', sans-serif;
  color:grey;
  font-size: 100px;
  margin: 0px;
}
.navbar {
  height: 100px;
}
.search-box input
{
    width: 100%;
    margin-bottom: 10%;
}
.search-box input[type="text"], input[type="password"]
{
   background: transparent;
   border: none;
   color: #fff;
   font-size: 15px;
   border-bottom: 1px solid #fff;

}
.sub
{
  position: relative;
}
.box2
{
  background: rgba(0,0,0,0.7);
  position: relative;
  left: 25%;
  height: 100px;
  width: 50%;
  border-radius: 20px;
  border-color: #6a6a6a;
  padding: 5px 30px 50px 30px;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
  text-align: center;

}
.alert
{
  font-size: 40px;
  text-align: center;
}
.search-box h1
{
  color:white;
  text-align: center;
  font-size: 60px;
}
.search_results h2
{
  color: #0066ff;
  text-align: center;
  font-size: 40px;
}

search-box input[type="submit"]
{
  background-color: #1c8adb;
  color:white;
  height: 40px;
  border: none;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 20px;

}
.search-box input[type="submit"]:hover
{
   background-color: #39dc79;
   cursor: pointer;
}
footer
{
  position: absolute;
  bottom: 0%;
  right:0%;
  color: #fff;
}
